$bg1: #000c17;
$bg2: #001d36;

$h1: 2em;
$h2: 1.5em;
$h3: 1.17em;
$h4: 1em;
$h5: 0.83em;
$h6: 0.67em;
$fontFamily: sans-serif;
$fontSize: 14px;

// Gradiant
$grad1: #111111;
$grad2: #222222;
$grad3: #333333;
$grad4: #444444;

// These colors should not be seen
$nosee: magenta;
$dbg: crimson;

$btnFontFamily: sans-serif;
$btnFontSize: 2.5rem;
$btn: #004B8D;
$btnHover: #0074D9;
$btnActive: #4192D9;
$btnBorder: #4192D9;
$btnBorderThic: 1px;
$btnActiveTransition: .1s;
$btnHoverTransition: .1s;

$tabBtnFontFamily: $btnFontFamily;
$tabBtnFontSize: $btnFontSize;
$tabBtn: #00305A;
$tabBtnHover: #004B8D;
$tabBtnActive: #0074D9;
$tabBtnBorder: $btnBorder;
$tabBtnBorderThic: $btnBorderThic;
$tabBtnActiveTransition: $btnActiveTransition;
$tabBtnHoverTransition: $btnHoverTransition;

$navBtnFontFamily: $btnFontFamily;
$navBtnFontSize: $btnFontSize;
$navBtn: $btn;
$navBtnHover: $btnHover;
$navBtnActive: $btnActive;
$navBtnBorder: $btnBorder;
$navBtnBorderThic: $btnBorderThic;
$navBtnActiveTransition: $btnActiveTransition;
$navBtnHoverTransition: $btnHoverTransition;
