// Debug color should not be seen
$debug: magenta;

$minDesktopRes: 1400px;

// Color palette
$hue: 240;
$color0: hsl($hue - 0 , 6% , 6%);
$color1: hsl($hue - 8 , 8% , 8%);
$color2: hsl($hue - 15, 15%, 15%);
$color3: hsl($hue - 22, 22%, 22%);
$color4: hsl($hue - 40, 40%, 40%);
$color5: hsl($hue - 50, 96%, 98%);

// Body
$fontSize: 1.0em;
$fontFamily: sans-serif;
$fontColor: $color5;
$background: $color0;

// Buttons
$btnFontFamily: $fontFamily;
$btnFontSize: 2.5em;
$btn: $color1;
$btnHover: $color2;
$btnActive: $color3;
$btnBorder: $color4;
$btnBorderThic: 1px;
$btnActiveTransition: .1s;
$btnHoverTransition: .1s;

// Tab buttons
$tabBtnFontFamily: $btnFontFamily;
$tabBtnFontSize: $btnFontSize;
$tabBtn: $btn;
$tabBtnHover: $btnHover;
$tabBtnActive: $btnActive;
$tabBtnBorder: $btnBorder;
$tabBtnBorderThic: $btnBorderThic;
$tabBtnActiveTransition: $btnActiveTransition;
$tabBtnHoverTransition: $btnHoverTransition;

// Navbar buttons
$navBtnFontFamily: $btnFontFamily;
$navBtnFontSize: $btnFontSize;
$navBtn: $btn;
$navBtnHover: $btnHover;
$navBtnActive: $btnActive;
$navBtnBorder: $btnBorder;
$navBtnBorderThic: $btnBorderThic;
$navBtnActiveTransition: $btnActiveTransition;
$navBtnHoverTransition: $btnHoverTransition;
