// breakpoints
$breakpoints: (
    1300px - 1px,
    1080px - 1px,
    768px - 1px,
    480px - 1px
);

$font-sizes: (
    1.2em,
    1.1em,
    1.0em,
    0.8em,
);

$transition: 0.1s;

// color gradient
$base_hue: 240;
$colors: (
    hsl($base_hue - 0 , 6% , 6%),
    hsl($base_hue - 8 , 8% , 8%),
    hsl($base_hue - 15, 15%, 15%),
    hsl($base_hue - 22, 22%, 22%),
    hsl($base_hue - 40, 40%, 40%),
    hsl($base_hue - 50, 96%, 98%),
);

$background-color: nth($colors, 1);

// font
$font-size: 1.2em;
$font-family: sans-serif;
$font-color: nth($colors, 6);

// buttons
$button-font-family: $font-family;
$button-font-size: 2.5em;

$button-inactive-color: nth($colors, 2);
$button-hover-color: nth($colors, 3);
$button-active-color: nth($colors, 4);

$button-border-color: nth($colors, 4);
$button-border-size: 1px;

$button-transition: .1s;

// separator
$separator-color: nth($colors, 5);
