@use 'variables' as v;

// lhs: Icon
// rhs: Description

.container {
    font-size: 1em;

    background: nth(v.$colors, 2);
    border: 1px solid nth(v.$colors, 4);
    height: 5em;

    display: flex;
    align-items: center;
    padding: .2em 1.4em .2em 1.4em;

    transition: 1s;
}

.container:hover {
    background: nth(v.$colors, 3);
}

.lhs {
    width: 4em;
    height: 4em;
}

.rhs {
    padding-left: 1em;
}
