@use "variables" as v;

// lhs: Icon
// rhs: Description

.container {
    background: nth(v.$colors, 2);
    border: 1px solid nth(v.$colors, 4);
    height: 5em;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em 1em;

    transition: v.$transition;
}

.container:hover {
    background: nth(v.$colors, 3);
}

.lhs {
    width: 4em;
    height: 4em;
}

.rhs {
    padding-left: 1em;
}
