@use 'variables' as v;

.hseparator {
    margin-top: 50px;
    background: rgba(255,255,255, 0.2);
    height: 2px;
    width: 100%;
}

// LEFT SECTION
.bio {
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
}

.bio > h1{
}

.specs {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
}

.resources {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
}


// RIGHT SECTION
.socials {
}

.tools {
}
