@use "variables" as v;

.container {
    border: 2px solid v.$button-border-color;
    border-radius: v.$border-radius-size;
    margin-right: 16px;
    display: flex;
    padding: 1em;
    background-color: v.$button-inactive-color;
    transition: 0.1s;
}

.lhs {
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.rhs {
    margin-left: 1em;
    font-size: 1.2em;
}

.container:hover {
    background: v.$button-hover-color;
}

.rhsTop {
    display: flex;
    align-items: center;
}

.languages>img {
    margin-left: 8px;
    height: 2em;
}

.languages>h3 {
    display: inline;
}

.description {
    font-size: 1.2em;
    white-space: pre-line;
    vertical-align: bottom;
}

@media (max-width: nth(v.$breakpoints, 3)) {
    .lhs {
        display: none;
    }

    .container {
        font-size: 1em;
    }

    .lanugages {
        width: 32px;
    }
}
