@use 'variables' as v;

.container {
    border: 16px solid v.$btn;
    margin-right: 16px;
    height: 12rem;
    display: flex;
    font-size: 24px;
}

.lhs {
    height: 100%;
    aspect-ratio: 10/7;
    flex: 2;
    background-color: v.$btnActive;
    width: 100%;
}

.rhs{
    margin-left: 4px;
    flex: 8;
    padding: 8px;
    background: v.$btnHover;
}
.rhs:hover {
    background: v.$btnActive;
}

.rhsTop{
    display:flex;
    align-items: center;
}

.image{
    height: 100%;
    width: 100%;
}

.title{
    flex: auto;
}

.languages > img {
    margin-left: 8px;
    width: 64px;
}

.description {
}
