@use 'variables' as v;

.container {
    background: v.$btn;
    width: 100%;
    height: 12rem;
    padding: 1rem;
    display: flex;
    font-size: 24px;
    margin-bottom: 2rem;
}

.lhs {
    background: v.$nosee;
    height: 100%;
    aspect-ratio: 10/7;
    flex: 2;
}

.image{
    width: 100%;
    height: 100%;
}


.rhs{
    margin-left: 10px;
    flex: 8;
    padding: 5px;
    background: v.$btnHover;
}

.rhsTop{
    display:flex;
    align-items: center;
}

.title{
    flex: auto;
}

.languages{
    margin-left: auto;
}

.languages > * {
    margin: 0 3px;
}

.description {

}
