@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
}

html, body {
}

html::-webkit-scrollbar{
}

body  {
  font-size: v.$fontSize;
  font-family: v.$fontFamily;
  color: v.$fontColor;
  background: v.$background;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
