@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, v.$bg1 0%, v.$bg2 100%);
  background-repeat: no-repeat;
}
