
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, crimson 0%, blue 100%);
  background-repeat: no-repeat;
}
