@use 'variables' as v;

.content {
    display: flex;

    min-height: 100vh;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.lhs {
    flex: 6;
    flex-grow:6;
    flex-shrink: 6;
    flex-basis: 0%;
}

.rhs {
    flex: 4;
    flex-grow: 4; 
    flex-shrink: 4; 
    flex-basis: 0%;
}

 .separatorContainer {
     flex: .5;
     display: flex;
     justify-content: center;
 }
 
 .separator {
    width: 2px;
    margin-top: 45px;
    background: v.$separator-color;
 }

@media (max-width:  nth(v.$breakpoints, 1)){
    .content {
        flex-direction: column;
    }

    .separator {
        width: 0px;
    }
}
