@use 'variables' as v;

.nav {
    background: v.$nosee;
    height: 5rem;
    width: 100vw;
}

.navList{
    height: 100%;

    display: flex;
    list-style: none;
}

.navItemBtn{
    background: v.$navBtn;

    flex: 2;
    height: 100%;
    flex-direction: column;
    position: relative;

    border-right: v.$navBtnBorderThic v.$navBtnBorder solid;
    border-left: v.$navBtnBorderThic  v.$navBtnBorder solid;
}

.navItemBtnActive{
    background: v.$navBtnActive;

    flex: 2;
    height: 100%;
    flex-direction: column;
    position: relative;
    border-left: v.$navBtnBorderThic v.$navBtnBorder solid;
    border-right: v.$navBtnBorderThic v.$navBtnBorder solid;
}

.navItemBtn:hover {
    background-color: v.$navBtnHover;
    transition: .1s;
}

.navItemBtn > li, .navItemBtnActive > li{
    text-decoration: none;
    text-align: center;
    font-size: v.$navBtnFontSize;
    font-family: v.$navBtnFontFamily;
    margin-top: 1rem;
}

.navItemSeparator{
    flex: 1;

}
