@use "variables" as v;

.container {
    height: 5em;
    width: 100vw;
    display: flex;
}

.button {
    flex: 1;
    height: 100%;
    display: flex;
    text-align: center;

    background: v.$button-inactive-color;
    border-bottom: v.$button-border-size v.$button-border-color solid;

    transition: 0.1s;
}

.button:not(:first-child) {
    border-left: v.$button-border-size v.$button-border-color solid;
}

.button:hover {
    background-color: v.$button-hover-color;
}

.button > h1 {
    margin: auto;
    font-size: 2em;

    display: inline;
}

.button > img {
    margin: auto;
    width: 2.3em;

    display: none;
}

.button_active,
.button_active:hover {
    background-color: v.$button-active-color;
}

@media (max-width: nth(v.$breakpoints, 2)) {
    .button > h1 {
        display: none;
    }

    .button > img {
        display: inline;
    }
}
