@use 'variables' as v;

.container {
    border: 1px solid v.$btnBorder;
    margin-left: 0;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 5em;
    min-width: max-content;
}

.icon {
    width: 64px;
    height: 64px;
}

.iconContainer {
    width: 64px;
    height: 64px;
    width: fit-content;
}

@media (max-width: 960px)
{
    .icon {
        width: 48px;
        height: 48px;
    }

    .iconContainer {
        width: 48px;
        height: 48px;
        width: fit-content;
    }
}

@media (max-width: v.$maxWidth4)
{
    .icon {
        width: 42px;
        height: 42px;
    }

    .iconContainer {
        width: 42px;
        height: 42px;
    }

    .container {
        font-size: 0.8em;
    }
}

.link {
}

.link:hover{
    background: v.$btnHover;
}

.description {
    margin-left: 10px;
    width: fit-content;
}

.caption{
    width: fit-content;
    margin-left: 10px;
    text-align: left;
}
