@use "variables" as v;

.container_buttons {
    height: 4em;
    display: flex;
    flex-direction: row;
    border: v.$button-border-size v.$button-border-color solid;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: v.$button-inactive-color;

    flex: 1;
    height: 100%;
    transition: 0.1s;
}

.button:hover {
    background-color: v.$button-hover-color;
}

.button:not(:first-child) {
    border-left: v.$button-border-size v.$button-border-color solid;
}

.button_active,
.button_active:hover {
    background-color: v.$button-active-color;
}

.iterator {
    flex: 0.25;
    display: none;
}

.content {
    display: none;
}

.content_active {
    display: block;
}

@media (max-width: nth(v.$breakpoints, 3)) {
    .button {
        display: none;
    }

    .button_active,
    .iterator {
        display: inline;
    }
}
