.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: deepskyblue
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem;
}

.nav-link-text {
    color: black
}
